header {
    border-radius: 5px;
    padding-left: 0;
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background-color: #fff7eb;
    top: 15px;
    position: sticky;
    box-shadow: #253c45 0 0 10px;
}

.inner-header {
    width: 90%;
    margin-left: 10%;
    height: 60px;
}

.logo {
    margin-top: -15px;
    float: left;
    width: auto;
    height: auto;
    max-width: 90px;
}

.inner-header > nav {
    width: 90%;
}

.menu-top {
    list-style: none;
    margin: auto;
    height: 60px;
}

.menu-top > li {
    width: 17%;
    float: left;
    padding: 0;
    text-align: center;
    line-height: 60px;
    height: 100%;
}

.menu-top > li > a {
    font-weight: bold;
    font-size: 170%;
    color: #E7985F;
}

.menu-top > li > a:hover {
    color: #5DB55C;
}

.menu-top > li > a:active {
    color: #5DB55C;
}

.container {
    border-radius: 10px;
    width: 80%;
    height: 1000px;
    margin: auto;
    background-color: #f5f5d5;
    box-shadow: #666d70 0 0 5px;
}

.insert-img {
    display: none;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.container:hover {
    box-shadow: #253c45 0 0 10px;
}

.chat-room {
    position: fixed;
    border-radius: 10px;
    height: 520px;
    width: 404px;
    background-color: white;
    right: 5%;
    bottom: 7%;
}

#chat-btn {
    right: 5%;
    position: fixed;
    bottom: 1%;
}

#chat-btn > button {
    border-radius: 4px;
    width: 150px;
    height: 30px;
    background: #E7985F;
    color: azure;
    outline: 0;
}

#chat-btn > button:hover {
    background-color: #5DB55C;
}

#chat-btn > button:focus {
    outline: 0;
}

footer {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 150px;
    background-color: #f5f5d5;
}

#send-box {
    margin-top: 20px;
}

#send-btn-div{
    margin-left: 5%;
    float: left;
    width: 15%;
    height: 80px;

}


#send-btn {
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
    border-radius: 4px;
    background: #5DB55C;
    color: azure;
    outline: 0;
    position: fixed;
}

#send-btn:hover {
    background-color: #E7985F;
    transition-duration: 0.3s;
}

#send-btn:focus {
    outline: 0;
}

#chat-input-area {
    width: 70%;
    float: left;
    margin-left: 5%;
}

#chat-input-area > textarea {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    max-height: 30%;
    font-size: 16px;
}

#chat-room-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-weight: 400;
    font-size: 120%;
    background-color: #E7985F;
    text-align: center;
    text-decoration: #fff7eb;
    position: sticky;
    top: 0;
}

#msg-box {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.msg-item {
    width: 100%;
    position: relative;
}
.msg-item:after{
    clear: both;
}

a {
    text-decoration: none;
}

.shadow-needed {
    box-shadow: #666d70 0 0 5px;
}

.shadow-needed:hover {
    box-shadow: #253c45 0 0 10px;
    transition-duration: 0.3s;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6d8aa6;
    min-width: 1000px;
    /*设置浏览器缩小最小宽度,小于此宽度则出现滚动条*/
}

.bubble {
    min-height: 60px;
    max-width: 244px;
    min-width: 244px;
    height: auto;
    background: #f5f5d5;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 8px;
    margin-top: 10px;
    padding-right: 0;
}

.talk-bubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #f5f5d5;
    border-bottom: 13px solid transparent;
}

.talk-bubble {
    float: left;
}
.talk-name{
    min-height: 100%;
    width: 90px;
    float: left;
}



.self-name {
    border-radius: 4px;
    background-color: #6d8aa6;
    margin-top: 35px;
    height: 30px;
    line-height: 30px;
    width: 60px;
    float: left;
    margin-left: 30px;
    text-align: center;
    margin-right: 10px;
}

.others-name {
    border-radius: 4px;
    background-color: #f5f5d5;
    margin-top: 35px;
    height: 30px;
    line-height: 30px;
    width: 60px;
    float: left;
    margin-left: 0;
    text-align: center;
    margin-right: 10px;
}

.self-talk-bubble {
    float: left;
    background-color: #6d8aa6;
    color: black;
    font-weight: 400;
}

.self-talk-bubble:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #6d8aa6;
    border-bottom: 13px solid transparent;
}

.bubble-text {
    padding: 15px 10px 15px 20px;
}